<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>RMMAN Dispatch</title>
    <meta name="description" content="What's better?">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>📰 RMMAN Dispatches</h1>
    <p>Welcome to the RMMAN Dispatches feed. This page lists timely updates from organizers of the Rocky Mountain Mutual Aid Network. This is a space to share updates and requests.</p>
    <p>Get the insider newsletter delivered to your inbox!</p>
    <fieldset>
        <legend>Subscribe to the Insider Newsletter</legend>
        <form action="https://buttondown.email/api/emails/embed-subscribe/rmman-insider" method="post" target="popupwindow"
            onsubmit="window.open('https://buttondown.email/rmman-insider', 'popupwindow')" class="embeddable-buttondown-form">
            <label for="bd-email">Enter your email</label>
            <input type="hidden" value="1" name="embed" />
            <div class="form-is-inline">
                <input type="email" name="email" id="bd-email" />
                <input type="submit" value="Subscribe" />
            </div>
            <input type="hidden" name="tag" value="news.rmman.org" />
        </form>
    </fieldset>
    <hr>
    <div id="main">
        <p><strong><a href="#" v-on:click="formVisible = !formVisible">➕ Add a dispatch via this form</a></strong></p>
        <form class="form" :action="form.action" method="post" target="_blank" v-if="formVisible">
            <div class="form__row">
                <label :for="form.name">
                    Name / Group Name
                    <input type="text" :name="form.name" v-model="form.preview.name">
                </label>
                <label :for="form.title">
                    Title <small v-if="form.preview.title.length > 50">{{ form.preview.title.length }}/100</small>
                    <input type="text" :name="form.title" v-model="form.preview.title" maxlength="100">
                </label>
            </div>
            <div class="form__row">
                <label :for="form.desc">
                    description <small v-if="form.preview.desc.length > 50">{{ form.preview.desc.length }}/500</small>
                    <textarea name="" id="" rows="6" :name="form.desc" v-model="form.preview.desc" maxlength="500"></textarea>
                </label>
            </div>
            <div class="form__row">
                <label :for="form.link">
                    Link Text
                    <input type="text" :name="form.link" v-model="form.preview.link">
                </label>
                <label :for="form.url">
                    Link URL
                    <input type="text" :name="form.url"v-model="form.preview.url">
                </label>
            </div>
            <input type="submit" value="Send Dispatch">
            <small>Clicking <strong>Send Dispatch</strong> will open a new tab and send you along to a Google Form where you can update your submission as necessary.</small>
            <fieldset id="dispatchPreview">
                <legend><small>PREVIEW</small></legend>
                <div class="dispatch">
                    <p class="dispatch__meta"><small>{{ new Date().toLocaleString().toString().slice(0, -3) }} &mdash; <strong>{{ form.preview.name }}</strong></small></p>
                    <h2 class="dispatch__title">
                        {{ form.preview.title }}
                    </h2>
                    <p class="dispatch__desc">
                        {{ form.preview.desc }}
                    </p>
                    <p class="dispatch__link">
                        <a :href="form.preview.url">{{ form.preview.link }}</a>
                    </p>
                </div>
            </fieldset>
        </form>
        <hr>
        <article class="dispatches reverseorder" v-cloak>
            <div class="dispatch" v-for="dispatch in dispatches">
                <p class="dispatch__meta"><small>{{ dispatch.time.toDateString().replace( ' 2021','') }} &mdash; <strong>{{ dispatch.name }}</strong></small></p>
                <h2 class="dispatch__title">
                    {{ dispatch.title }}
                </h2>
                <p class="dispatch__desc">
                    {{ dispatch.description }}
                </p>
                <p class="dispatch__link">
                    <a :href="dispatch.link">{{ dispatch.linkText }}</a>
                </p>
            </div>
        </article>
        <footer>
            <p>
                <small>
                    <a :href="github">Source Code on GitHub</a> &mdash;
                    <a :href="workbook.url">Source Spreadsheet</a> &mdash;
                    <a :href="form.view">Source Form</a> &mdash;
                    <a href="markdown">Show Markdown</a>
                </small>
            </p>
        </footer>
    
    </div>

    <script type="text/javascript" src="script.js"></script>

</body>

</html>